<%- include('partials/header') %>

<h1>Now Playing at a Theater Near You</h1>

<%# Movies for Each loop %>
<% data.results.forEach(function(el) { %>
    <% let {title, overview, vote_average, backdrop_path, poster_path} = el %>
    <br>    
    <h3><%=el.title %></h3> 
    <p><%=el.overview %></p>   
    <p>Rating: <%=el.vote_average %> out of 10</p>
    <p>Backdrop Image: <%=el.backdrop_path %></p>
    <p>Poster Image: <%=el.poster_path %></p>         
    <%=console.log(el) %>
<% }) %>





<%- include('partials/footer') %>