<%- include ('partials/header.ejs')%>

  <!-- Results Page -->
	<div class="container-flow justify-content-center mx-3">
    <div class="row" >
        <div class="container col-sm-4 mb-5">
            <div class="card m-1">
                <div class="card-body">                    
                    <h2 class="card-title">Name:</h2>
                    <h5><%=data.name %></h4><br>
                    <h5><%# starWars.name #%></h4>

                    <h2 class="card-title">Height:</h2>
                    <h5><%=data.height %>cm</h4><br>
                    <h5><%# starWars.height #%></h4>

                    <h2 class="card-title">Hair Color:</h2>
                    <h5><%=data.hair_color %></h4><br>
                    <h5><%# starWars.hair_color #%></h4>

                    <h2 class="card-title">Eye Color:</h2>
                    <h5><%=data.eye_color %></h4><br>
                    <h5><%# starWars.eye_color #%></h4>
                        
                    <h2 class="card-title">Gender:</h2>
                    <h5><%=data.gender %></h4>
                    <h5><%# starWars.gender #%></h4>                    
                </div>
            </div>
        </div>
    </div>    
    </div>
    
<%- include ('partials/footer.ejs')%>

