<%- include('partials/header') %>

<h3>Here are some great places nearby:</h3>
<% data.forEach(function(el){ %>
<p>
    <%-el.name %> : <%-el.rating  %>: <%-el.price %>         
</p>
<% })  %> 

<%- include('partials/footer') %>