<%# Information #%>
<div>
    <h1>Super Hero Results</h1>
    <h3>SuperHero ID:</h3>
    <p><%=data.id %></p>

    <h3>SuperHero Name:</h3>
    <p><%=data.name %></p>

    <h3>SuperHero Intelligence:</h3>
    <p><%=data.powerstats.intelligence %></p>

    <h3>SuperHero Strength:</h3>
    <p><%=data.powerstats.strength %></p>

    <h3>SuperHero Speed:</h3>
    <p><%=data.powerstats.speed %></p>

    <h3>SuperHero Durability:</h3>
    <p><%=data.powerstats.durability %></p>

    <h3>SuperHero Power:</h3>
    <p><%=data.powerstats.power %></p>

    <h3>SuperHero Combat:</h3>
    <p><%=data.powerstats.combat %></p>

    <h3>Picture</h3>
    <img src="<%=data.image.url %>" alt="SuperHero Image"/>
</div> 
