<%-include('partials/header') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form name="myForm" action="/results" method="get">
                    <h1>"Hello, Cocktails"</h1>
                    <div class="container">
                        <%# COCKTAIL IMAGE AND NAME #%>
                        <p id="name" ><%=data.strDrink %></p>           
                        <img id="image" src= "<%= data.strDrinkThumb %>" 
                        alt="cocktail" name="cocktail" /><br><br>
                        <%#INGREDIENTS and MEASUREMENTS WHILE LOOP #%> 
                        <p style='text-decoration: underline'><strong>
                                INGREDIENTS and MEASUREMENTS</strong></p>
                            <div class="row text-center">
                                <% let count = 1 %>
                                <% while (data[`strIngredient${count}`]){%>
                                    <% let ingredient = data[`strIngredient${count}`] %>
                                    <% let measurements = data[`strMeasure${count}`] %>
                                        <div class='thumb_container'>
                                            <img class='ingredient_image' alt="Vodka"
                                             src="https://www.thecocktaildb.com/images/ingredients/gin-Small.png" 
                                            />
                                            <%#INGREDIENTS and MEASUREMENTS #%>
                                            <p id="ingredients" name="ingredients" 
                                            style="text-decoration: underline;">
                                                <%= ingredient %> 
                                            </p> 
    
                                            <p id="measurements" name="measurements"> 
                                                <%= measurements %>
                                            </p>
                                        </div>    
                                    <% count ++ %>
                                <%  }%>
                            </div>
                        <%# INSTRUCTIONS #%>
                        <p><strong font-size= '25px'>INSTRUCTIONS</strong></p>
                        <p id="instructions" name="instructions">
                             <%=data.strInstructions %>            
                        </p> 
                        <%# BUTTON #%>
                        <input id="btn" class="btn btn-success" 
                        value="Need a drink?" type="submit" name="drink"></input>
                        <br><br>          
                    </div>                     
                </form>
            </div>
        </div>
    </div>
    
<%-include('partials/footer') %>