<h1>National Parks List in Texas</h1>>
<%=data.id %>    
<%=data.fullName %>
<%=data.description %> 
<%=data.url %>   
<p><%=data.id %> <%=data.fullName %> <%=data.description %> <%=data.url %> </p>
