<%-include('partials/header') %>
  <%# Results #%>
  <div class="container-flow justify-content-center mx-3">
    <div class="row" >
      <div class="container col-sm-4 mb-4">
        <div class="card m-3">
          <div class="card-body" >
            <% data.forEach(function(el) { %>
              <div class="mycontainer">
                <form method="get" action="/favorite">
                  <img src="<%=el.image_url %>" alt=" Image"/>
                    <% let checked = el.options ? "checked" : "" %>
                    <div>
                      <input name="favorite" id="favorite" type="checkbox" value="true"
                      onchange="browser()">
                      <label for="favorite">Save as a favorite</label>
                    </div>
                    <h6 id="beer_name"class="card-title"><%=el.name %></h6>
                  <h6 class="card-title"><%=el.description %></h6>
                  <hr>
                </form>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%-include('partials/footer') %>