<%-include('partials/header')%>

<h3>Is this information correct?</h3>

<div class="container well">    
        <% let {fname, lname, email, tel, country, resume} = data %>
        <p><%=fname %></p>
        <p><%=lname %></p>
        <p><%=email %></p>
        <p><%=tel %></p>
        <p><%=country %></p>
        <p><%=resume %></p>  
        <%console.log(data) %>
</div>

<%-include('partials/footer') %>