<%-include('partials/header')%>

<h3>Is this information correct?</h3>

<div class="container well">
    <% applicant.forEach(function(el) { %>
        <% let {fname, lname, email, tel, country, resume} = el %>
        <p><%=el.fname %></p>
        <p><%=el.lname %></p>
        <p><%=el.email %></p>
        <p><%=el.tel %></p>
        <p><%=el.country %></p>
        <p><%=el.resume %></p>  
        <%console.log(el) %>
    <%  }) %>
</div>

<%-include('partials/footer') %>