<%- include('partials/header') %>
<%- include('index') %>

<div class="container well" >
    <p>USD: <%= data.bpi.USD.rate_float.toFixed(2) %></p>
    <p>GBP: <%= data.bpi.GBP.rate_float.toFixed(2) %></p>
    <p>EUR: <%= data.bpi.EUR.rate_float.toFixed(2) %></p>
</div>

<%- include('partials/footer') %>