<%- include('partials/header') %>
<%- include('index') %>

<div class="container well" >
    <p><%= data.code %>: <%= data.rate_float.toFixed(2) %></p>
</div>

<%- include('partials/footer') %>